.advertising {
  /* display: flex; */

  border: 0px solid rgb(255, 255, 255);
  border-radius: 5px;

  width: 100vw;
  max-width: 800px;
  height: 46.8vw;
  max-height: 400px;
  background-color: #ffffff;
  white-space: nowrap;
  overflow-x: hidden;
  overflow-y: hidden;
  transition: 0.5s;
}
.advertising::-webkit-scrollbar {
  width: 0;
}

.AdvertisingIMG {
  display: inline-block;
  width: 100vw;
  max-width: 800px;
  height: 46.8vw;
  max-height: 400px;
  flex-wrap: nowrap;
}
.Advertising-Row {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 46.8vw;
  max-height: 420px;
  background-color: #ffffff00;
}

.swipe-left,
.swipe-right {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  margin: 5px;
  width: 10vw;
  height: 10vw;
  max-width: 60px;
  max-height: 60px;
  background-color: #ffffff6f;
  border: 1px solid rgb(84, 84, 84);
  /* filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.467)); */
  color: rgb(88, 88, 88);
  border-radius: 5px;
}

.swipe-left {
  left: 0vw;
}
.swipe-right {
  right: 1vw;
}
