.footer{
    width: 100vw;
    height: fit-content;
    background-color: #000;
    color: #fff;
    font-family: Roboto,sans-serif;
}

.copyright{
    width: 100vw;
    text-align: center;
}
.brands{
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}
.brandcontext{
    font-size: 1.2rem;
   font-weight: 700;
   position: absolute;
   left: 50%;
   transform: translateX(-50%);
   height: fit-content;
   width: fit-content;
}

.brand-logo{
    height: 20vw;
    max-height: 100px;
    width: 35vw;
    max-width: 175px;
    margin: 20px;
    
}
.payment-img{
    display: flex;
    height: 8vw;
    max-height: 50px;
    margin: 10px;
    margin-top: 30px;

}
.paymentcontext{
    margin: 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.2rem; 

}

hr{
    width: 90vw;
    margin-bottom: 20px;
}

.headers{
  font-size: 1.2rem;
  height: fit-content;
  width: fit-content;
}

.footer-section{
    display: inline-block;
    width: 200px;
    height: fit-content;
    color: #fff;
    margin: 20px;
}

.footer-section-payment{
    display: flex;
    width: 90vw;
    height: 100px;

}

a{
    color: #fff;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}
ul{
    display: block;
    list-style: none;
    padding: 0;
}
li{
    width: fit-content;
    margin: 5px;
}

.payment-methods{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
   display: flex;
    width: fit-content;
    height: fit-content;
}

.links{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.BecomeSeller{
    display: flex;
    height: 50px;
    width: 100vw;
    justify-content: center;
    align-items: center;
}