.name {
  font-family: Edu AU VIC WA NT Hand;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  font-size: 1.5rem;
  height: 50px;
  color: rgb(255, 255, 255);
  margin-left: 20px;
}
.name img{
  width: 40px;
  /* box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.674); */
  filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.674));
  border-radius: 10px;
  margin-right: 10px;
  background-color: #3ae374;
}
.search {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 23vw;
  height: 10vw;
  max-height: 30px;
  margin-left: 10vw;
  padding-left: 15px;
  padding-right: 15px;
  background-color: rgba(255, 255, 255, 0);
  border: 2px solid rgb(255, 255, 255);
  border-radius: 25px;
  color: white;
  cursor: pointer;
}
.search::placeholder {
  font-size: 0.7rem;
  color: #ffffff8d;
}
.search:focus{
  /* border-color: #3ae374; */
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.651);
}
.navbar {
  display: flex;
  position: fixed;
  top: 0;
  justify-content: left;
  align-items: center;

  flex-wrap: wrap;
  background-color: #7d5fff;
  color: white;
  height: 75px;
  z-index: 10;
  width: 100vw;
}

.searchbtn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Roboto, san-serif;
  position: relative;
  height: 10vw;
  width: 15vw;
  max-width: 70px;
  max-height: 30px;
  margin-left: 2px;
  background-color: #7d5fff;
  color: white;
  border: 2px solid #ffffff;
  border-radius: 25px;
  transition: 0.5s;
  overflow-x: hidden;
  margin-left: 10px;
  cursor: pointer;
}
.searchbtn:hover {
  background-color: #3ae374;
}

.cart {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  margin-left: 20px;
  margin-right: 20px;
  cursor: pointer;
}
.carticon {
  width: 40px;
}

.login{
  font-family: Roboto;
  font-weight: 700;
}


.searchbox {
  display: flex;
  padding-right: 150px;
  /* align-items: center; */
}

.accountlogo {
  height: 40px;
  width: 40px;
  mix-blend-mode: lighten;
  cursor: pointer;
}

.accountbox{
  height: fit-content;
  width: fit-content;
  margin-right: 10px;
}


.attachright {
  position: absolute;
  height: 75px;
  display: flex;
  right: 2vw;
  top: 0;
  align-items: center;
}
@media screen and (max-width: 375px) {
 .name{
  font-size: 1.2rem;
 }
 .name img{
  width: 35px;
 }
}
@media screen and (max-width: 426px) {
  .cart{
    margin-right: 10px;
  }
  .carticon {
    width: 30px;
  }
  .accountlogo {
    width: 30px;
    height: 30px;
  }
}
@media screen and (max-width: 750px) {
  .search {
    margin-left: 5vw;
  }
  .search::placeholder {
    font-size: 0.5rem;
  }
}

@media screen and (max-width: 626px) {
  .attachright {
    height: 50px;
  }
  .name{
    position: absolute;
    top: 0;
  }
  .navbar {
    height: 110px;
  }

  .search {
    width: 60vw;
  }

  .searchbox {
   
    position: absolute;
    left: 2%;
    bottom: 15px;
  }
}
