.productList{
    display: flex;
    width: 100vw;
    height: fit-content;
    background-color: #ffffff00;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.product-container{
    display: flex;
    height: fit-content;
    min-width: 80vw;
    width: fit-content;
    max-width:90vw ;
    justify-content: space-between;
    flex-wrap:wrap;
    flex: 1;
}