.productList{
    display: flex;
    width: 100vw;
    height: fit-content;
    background-color: #ffffff00;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.productcontainer{
    display: flex;
    height: fit-content;
    max-width: 90vw;
    justify-content: center;
    flex-wrap:wrap;
    flex-direction: row;
    flex-grow: 1;
    
}