body{
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  cursor: default;
}

#root{
  margin: 0;
  padding: 0;
}

.app{
  height: 100vh;
  width: 100vw;
  background-color: #fff;
}

::-webkit-scrollbar{
  width: 10px;
}

::-webkit-scrollbar-thumb{
  background: linear-gradient(#7d5fff,#3ae374);
  border: 1px solid rgb(164, 164, 164);
  border-radius: 25px;
}
::-webkit-scrollbar-track{

  background-color: #ffffff00;

}

input:focus {
  outline: none;
  box-shadow: none;
}